@import "font.css";

:root {
  --text: #ceeb87;
  --fg: #222222;
}

body {
  background-image: url("../images/noise.png");
  background-size: cover;
  color: var(--fg);
  font-family: Atkinson, sans-serif;
  font-size: 1.5rem;
  max-width: 60rem;
  margin: 0 auto;
}

#container {
  margin: 0 auto;
  padding: 0rem 1rem 1rem 1rem;
  max-width: 60rem;
}

p,
li {
  line-height: 1.25em;
}

h1 {
  color: var(--text);
  font-size: 4rem;
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

h2 {
  font-size: 2rem;
  font-style: italic
}

.nothing {
  color: #87ebce;
}

.authors,
.authors a {
  margin-top: 0rem;
  margin-bottom: 4rem;
  color: #eb87ce;
}

a {
  text-decoration: underline;
}

img {
  width: 100%
}