@import "font.css";

:root {
  --bg: #d7d6d6;
  --fg: #222222;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: Atkinson, sans-serif;
  font-size: 1.5rem;
  max-width: 60rem;
  margin: 0 auto;
  /* padding: 0rem 1rem 1rem 1rem; */
}

#container {
  margin: 0 auto;
  padding: 0rem 1rem 1rem 1rem;
  /* margin-top: 13rem; */
  max-width: 60rem;
}

p,
li {
  line-height: 1.25em;
}

#title {
  overflow-x: hidden;
  white-space: nowrap;
  background-color: var(--fg);
  color: var(--bg);
  font-size: 4rem;
  font-style: italic;
  margin-top: 1rem;
}


section {
  /* padding-bottom: 2rem; */
  /* margin-bottom: 2rem; */
  /* border-bottom: 1px dashed black; */
}

#about {
  /* margin-top: 14rem; */
}

#subscribe {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 2rem;
}

#latest-season {
  margin-top: 2rem;
}

#banner {
  position: relative;
  z-index: -100;
}

#banner>div {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

#banner>div>div {
  margin-bottom: 1vw;
  font-size: 4vw;
  color: var(--bg);
  background-color: black;
  font-style: italic;
  line-height: 1.2;
}

#player {
  /* border: .1em dashed black; */
  /* padding: .25em; */
  /* background-color: black; */
}

h2 {
  font-size: 1em;
}

a,
a:hover,
a:visited {
  color: var(--fg);
}

#hosts {
  display: flex;
  flex-flow: row wrap;
  /* justify-content: space-around; */
  column-gap: 3.5rem;
  width: 100%;
}

.host {
  flex: 1 1 45%;
}

img {
  width: 100%
}

.badge {
  height: 48px;
}

.badge img {
  height: 100%;
  width: auto;
}

footer {
  margin-bottom: 2rem;
  text-decoration: underline;
  cursor: help;
}

#lost-seasons-tooltip {
  text-decoration: underline;
}

#lost-seasons {
  display: none;
}

#past_seasons {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: flex-start;
  width: 5em;
  flex-basis: 20em;
  gap: 1em; */
}

.season {
  /* background-color: green; */
  /* border: 1px solid black; */
}