@import "font.css";

:root {
  --text: #ceeb87;
  --fg: #222222;
}

body {
  background-image: url("../images/noise.png");
  background-size: cover;
  color: var(--fg);
  font-family: Atkinson, sans-serif;
  font-size: 1.5rem;
  max-width: 60rem;
  margin: 0 auto;
  /* padding: 0rem 1rem 1rem 1rem; */
}

#container {
  margin: 0 auto;
  padding: 0rem 1rem 1rem 1rem;
  /* margin-top: 13rem; */
  max-width: 60rem;
}

p,
li {
  line-height: 1.25em;
}

h1 {
  color: var(--text);
  font-size: 4rem;
  font-style: italic;
  margin-top: 1rem;
}

h2 {
  color: #87ebce;
  font-size: 2rem;
  font-style: italic
}


section {
  /* padding-bottom: 2rem; */
  /* margin-bottom: 2rem; */
  /* border-bottom: 1px dashed black; */
}

#about {
  /* margin-top: 14rem; */
}

img {
  width: 100%
}